@function px2rem($px) {
  $rem: 37.5;
  @return ($px / $rem) + rem;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin menuBarItem {
  margin: px2rem(20) 0;
}

.icon {
  font-size: px2rem(20);
  color: #fff;
}

a {
  text-decoration: none;
  cursor: pointer;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

body {
  transition: all .3s linear;
}

$barBgColor: rgba(0, 0, 0, .8);

.btn-wrapper {
  @include center;
  .btn {
    padding: px2rem(6) px2rem(46);
    color: #fff;
    border: px2rem(1) solid #ccc;
    border-radius: px2rem(20);
  }
}
